body{
    background-color: #38384b;
    color: #eee;
    
}
main{
    display: 50px;
    max-width: 348px;
    margin: 0 auto;
    text-align: center  
}

button{
    background-color: transparent;
    color: rgba(255,255,255,0.8);
    border: 0;
    display: inline-block;
    width: 100px;

}
